body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.calculator label,
.calculator input,
.calculator button {
    margin: 5px;
}
.resultado {
    font-size: 18px;
    font-weight: bold;
}
